body{
	background: #f1eaea;
}
img{
	height:500px;
	width: 20%;
	left:8%;
	position: absolute;
	border-style: round;
	border-radius: 150px;
	border-color: grey;
	border-style: solid;
}
h1{
	position: absolute;
	margin-top: -30px;
}
p{
	position: absolute;
	font-size: 15px;

}
#container{
	background: #0c0101e0;
	font-family: 'Bookman Old Style';
	font-style: italic;
	width: 100%;
	height: 700px;
	border-radius: 10px;
	border-style: round;

}
#header{
	background: #8080809c;
	font: 'Bookman Old Style';
	padding: 50px;	
	color: white;
	border-style: round;
	border-radius: 10px;
	font-size: 30px;
}
#footer{
	background: #8080809c;
	font: 'Bookman Old Style';
	padding: 50px;	
	color: white;
	border-style: round;
}
#bar{
	padding: 120px;
	border-radius: 6px;
	border-style: round;
	font-size: 30px;
}
#link1{
	color: black;
	padding: 10px;
	background-color: white;
	border-style: round;
	border-radius: 5px;
	left: 50%;
	position: absolute;
	font: 'Bookman Old Style';
	font-size: 20px;
	
}
#link2{
	color: black;
	padding: 10px;
	background-color: white;
	border-style: round;
	border-radius: 5px;
	left: 57%;
	position: absolute;
	font: 'Bookman Old Style';
	font-size: 20px;
}
a{}
#link3{
	color: black;
	padding: 10px;
	background-color: white;
	border-style: round;
	border-radius: 5px;
	left: 66%;
	position: absolute;
	font: 'Bookman Old Style';
	font-size: 20px;
}
#link4{
	color: black;
	padding: 10px;
	background-color: white;
	border-style: round;
	border-radius: 5px;
	left: 76%;
	position: absolute;
	font: 'Bookman Old Style';
	font-size: 20px;
}
#link5{
	color: black;
	padding: 10px;
	background-color: white;
	border-style: round;
	border-radius: 5px;
	left: 84%;
	position: absolute;
	font: 'Bookman Old Style';
	font-size: 20px;
}
#aboutme{
	left: 50%;
	width: 500px;
	position: absolute;
	padding: 75px;
	background: #8080809c;
	color: white;
	border-style: round;
	border-radius: 8px;
	font-size: : 50px;
	font: 'Bookman Old Style';
}
#twitter{
	color: black;
	padding: 10px;
	background-color: white;
	border-style: round;
	border-radius: 5px;
	left: 60%;
	position: absolute;
	font: 'Bookman Old Style';
	font-size: 20px;
}
#medium{
	color: black;
	padding: 10px;
	background-color: white;
	border-style: round;
	border-radius: 5px;
	left: 80%;
	position: absolute;
	font: 'Bookman Old Style';
	font-size: 20px;
}
#facebook{
	color: black;
	padding: 10px;
	background-color: white;
	border-style: round;
	border-radius: 5px;
	left: 40%;
	position: absolute;
	font: 'Bookman Old Style';
	font-size: 20px;
}
